<?xml version='1.1' encoding='UTF-8'?>
<org.jvnet.hudson.plugins.SSHBuildWrapper_-DescriptorImpl plugin="ssh@2.6.1">
  <sites>
    <org.jvnet.hudson.plugins.CredentialsSSHSite>
      <hostname>{{ staging_ip }}</hostname>
      <username>{{ staging_creds_user }}</username>
      <port>22</port>
      <credentialId>{{ staging_creds_description }}</credentialId>
      <serverAliveInterval>0</serverAliveInterval>
      <timeout>0</timeout>
      <pty>false</pty>
    </org.jvnet.hudson.plugins.CredentialsSSHSite>
    <org.jvnet.hudson.plugins.CredentialsSSHSite>
      <hostname>{{ prod_ip }}</hostname>
      <username>{{ prod_creds_user }}</username>
      <port>22</port>
      <credentialId>{{ prod_creds_id }}</credentialId>
      <serverAliveInterval>0</serverAliveInterval>
      <timeout>0</timeout>
      <pty>false</pty>
    </org.jvnet.hudson.plugins.CredentialsSSHSite>
  </sites>
</org.jvnet.hudson.plugins.SSHBuildWrapper_-DescriptorImpl>