<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.36.1">
      <projectUrl>https://github.com/Stanisz1/-word-cloud-generator.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>BRANCH</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>master</string>
              <string>new_branch</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.0.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/Stanisz1/-word-cloud-generator.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/$BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export GOPATH=$WORKSPACE/go
export PATH=&quot;$PATH:$(go env GOPATH)/bin&quot;

go get github.com/tools/godep
go get github.com/smartystreets/goconvey
go get github.com/GeertJohan/go.rice/rice
go get github.com/wickett/word-cloud-generator/wordyapi
go get github.com/gorilla/mux

sed -i &quot;s/1.DEVELOPMENT/1.${BUILD_NUMBER}/g&quot; static/version

GOOS=linux GOARCH=amd64 go build -o ./artifacts/word-cloud-generator -v

gzip -f artifacts/word-cloud-generator
ls -l artifacts</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.14">
      <nexusVersion>nexus3</nexusVersion>
      <protocol>http</protocol>
      <nexusUrl>192.168.33.90:8081</nexusUrl>
      <groupId>$BRANCH</groupId>
      <version>1.${BUILD_NUMBER}</version>
      <repository>word-cloud-build</repository>
      <artifacts>
        <sp.sd.nexusartifactuploader.Artifact>
          <artifactId>word-cloud-generator</artifactId>
          <type>gz</type>
          <classifier></classifier>
          <file>./artifacts/word-cloud-generator.gz</file>
        </sp.sd.nexusartifactuploader.Artifact>
      </artifacts>
      <credentialsId>nexus_password</credentialsId>
    </sp.sd.nexusartifactuploader.NexusArtifactUploader>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>vagrant@192.168.33.80:22</siteName>
      <command>sudo systemctl stop wordcloud

curl -X GET http://192.168.33.90/repository/word-cloud-build/${BRANCH}/word-cloud-generator/1.${BUILD_NUMBER}/word-cloud-generator-1.${BUILD_NUMBER}.gz --user ${NEXUS_USER}:${NEXUS_PASSWORD} -o /opt/wordcloud/word-cloud-generator.gz

gunzip -f /opt/wordcloud/word-cloud-generator.gz

chmod +x /opt/wordcloud/word-cloud-generator

sudo systemctl start wordcloud</command>
      <execEachLine>false</execEachLine>
      <hideCommand>true</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>res=`curl -s -H &quot;Content-Type: application/json&quot; -d &apos;{&quot;text&quot;:&quot;ths is a 
really really really important thing this is&quot;}&apos; http://192.168.33.80:8888/version | jq &apos;. | length&apos;`
if [ &quot;1&quot; != &quot;$res&quot; ]; then
  exit 99
fi

res=`curl -s -H &quot;Content-Type: application/json&quot; -d &apos;{&quot;text&quot;:&quot;ths is a really really really important thing this is&quot;}&apos; http://192.168.33.80:8888/api | jq &apos;. | length&apos;`
if [ &quot;7&quot; != &quot;$res&quot; ]; then
  exit 99
fi</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.6.1">
      <siteName>vagrant@192.168.33.85:22</siteName>
      <command>sudo systemctl stop wordcloud

curl -X GET http://192.168.33.90:8081/repository/word-cloud-build/${BRANCH}/word-cloud-generator/1.${BUILD_NUMBER}/word-cloud-generator-1.${BUILD_NUMBER}.gz --user ${NEXUS_USER}:${NEXUS_PASSWORD} -o /opt/wordcloud/word-cloud-generator.gz

gunzip -f /opt/wordcloud/word-cloud-generator.gz

chmod +x /opt/wordcloud/word-cloud-generator

sudo systemctl start wordcloud</command>
      <execEachLine>false</execEachLine>
      <hideCommand>true</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuilder>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@523.vd859a_4b_122e6">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>nexus_password</credentialsId>
          <usernameVariable>NEXUS_USER</usernameVariable>
          <passwordVariable>NEXUS_PASSWORD</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
    <org.jenkinsci.plugins.golang.GolangBuildWrapper plugin="golang@1.4">
      <goVersion>go 1.16</goVersion>
    </org.jenkinsci.plugins.golang.GolangBuildWrapper>
  </buildWrappers>
</project>